body{
    margin-top:20px;
    background:#eee;
    font-family: raleway;
}
.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}

table.table-bordered{
    background-color: whitesmoke;
}

input.form-control.text-center{
    width: fit-content;
    block-size: fit-content;
    margin-left: 28%;
}

td.align-middle.p-4{
    align-items: center;
}
a.shop-tooltip.close.float-none.text-danger{
    margin-right: 38%;
}

tr{
    height: fit-content;
    width: fit-content;
    text-align: center;
    vertical-align: middle;
  }

th{
    text-align: center;
    vertical-align: middle;
    margin-top: 10%;
}

.text-muted.font-weight-normal.m-0{
    right: 50px;
    color: whitesmoke;
}

label.text-muted.font-weight-normal.m-0{
    color: black;
    margin-right: 5%;
    font-size: 20px;
    font-weight: bold;
}

.text-large{
    color: black;
    margin-right: 7.5%;
    font-size: 17px;
}

button.btn-lg.md-btn-flat.mt-2{
    background-color: #9c6d61;
    border-color: #9c6d61;
    color: white;
}

button.btn.btn-lg.btn-primary.mt-2{
    background-color: #9c6d61;
    border-color: #9c6d61;
    color: white;
    font-weight: 700;
}


