body{
    margin-top:20px;
    background:#eee;
}
.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}

table.table-bordered{
    background-color: whitesmoke;
}

input.form-control.text-center{
    width: fit-content;
    block-size: fit-content;
}

td.align-middle.p-4{
        align-items: center;
}

.text-muted.font-weight-normal.m-0{
    right: 50px;
    color: whitesmoke;
}

label.text-muted.font-weight-normal.m-0{
    color: #3b3d2ca3;
    margin-right: 5%;
    font-size: 20px;
}

.text-large{
    color: #3b3d2ca3;
    margin-right: 7.5%;
    font-size: 17px;
}


